<a href="https://colab.research.google.com/github/kaiyanl/color-game/blob/master/kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.cluster import MiniBatchKMeans
from sklearn import preprocessing
import pandas as pd
import numpy as np
import time

In [ ]:
df = pd.read_csv("data_yuba.csv")
df.head()

             x           y    elevation
0 -2102562.426  2124824.36  1192.543701
1 -2102622.426  2124794.36  1221.982178
2 -2102592.426  2124794.36  1215.901611
3 -2102562.426  2124794.36  1210.224976
4 -2102712.426  2124764.36  1228.435181

In [ ]:
standard_scaler = preprocessing.StandardScaler()
stand_df = standard_scaler.fit_transform(df)
stand_df[:5]

array([[2.27631206, 2.49629947, 1.8965361 ],
       [2.2695087 , 2.49196956, 2.02318001],
       [2.27291038, 2.49196956, 1.9970215 ],
       [2.27631206, 2.49196956, 1.97260069],
       [2.25930365, 2.48763966, 2.05094073]])

In [ ]:
k = len(stand_df)//100 # average 22 acres per cluster
print()
print("k = ", k)
print('MiniBatchKMeans...')
start = time.time()
# print('start at %s' %time.ctime(t1))
km = MiniBatchKMeans(n_clusters=k, init_size=k)
km.fit(stand_df)
end = time.time()
# print('end at %s' %time.ctime(t2))
process_time = (end-start) / 60
print("finish MiniBatchKMeans fitting, which takes %s minutes" %process_time)

k =  6464
MiniBatchKMeans...
finish MiniBatchKMeans fitting, which takes 1.1458844025929769 minutes

In [ ]:
df = pd.read_csv("data_4county.csv")
df.head()

   Unnamed: 0  fl_ele_wild_nps_ex_mask  ...             y  df.ele.curr_county$NAME
0    14849232              2144.522705  ...  2.136644e+06                   Sierra
1    14849233              2143.986084  ...  2.136644e+06                   Sierra
2    14853762              2143.076416  ...  2.136614e+06                   Sierra
3    14853763              2145.284912  ...  2.136614e+06                   Sierra
4    14853764              2146.483398  ...  2.136614e+06                   Sierra

[5 rows x 5 columns]

In [ ]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.drop('df.ele.curr_county$NAME', axis=1, inplace=True)
df.rename({'fl_ele_wild_nps_ex_mask': 'elevation'}, axis=1, inplace=True)
df.head()

     elevation             x             y
0  2144.522705 -2.087202e+06  2.136644e+06
1  2143.986084 -2.087172e+06  2.136644e+06
2  2143.076416 -2.087412e+06  2.136614e+06
3  2145.284912 -2.087382e+06  2.136614e+06
4  2146.483398 -2.087352e+06  2.136614e+06

In [ ]:
df.shape

(8165019, 3)

In [ ]:
standard_scaler = preprocessing.StandardScaler()
stand_df = standard_scaler.fit_transform(df)
stand_df[:5]

array([[ 1.15753333, -0.19569884,  2.34314306],
       [ 1.15661392, -0.19469164,  2.34314306],
       [ 1.15505535, -0.20274924,  2.34173435],
       [ 1.15883926, -0.20174204,  2.34173435],
       [ 1.16089267, -0.20073484,  2.34173435]])

In [10]:
k = len(stand_df)//100 # average 22 acres per cluster
print()
print("k = ", k)
print('MiniBatchKMeans...')
start = time.time()
print('start at %s' %time.ctime(start))
km = MiniBatchKMeans(n_clusters=k, init_size=k)
km.fit(stand_df)
end = time.time()
print('end at %s' %time.ctime(end))
process_time = (end-start) / 60
print("finish MiniBatchKMeans fitting, which takes %s minutes" %process_time)

k =  81650
MiniBatchKMeans...
start at Tue Dec 15 19:44:20 2020
end at Tue Dec 15 22:45:32 2020
finish MiniBatchKMeans fitting, which takes 181.19859640200931 minutes